#home-page-card {
  margin-top: 10px;
}

.home {
  scroll-behavior: smooth;
}

.mat-expansion-panel-header-description {
  margin-right: 0;
}

.visualBox {
  position: absolute;
  height: 40px;
  width: 100%;
  left: 0;
}

.mat-expansion-panel, .mat-card, .defaultRoomButton, .notificationBell {
  border-radius: 20px;
}

@media screen and (min-width: 320px) {

  .mat-card.roomHeading {
    padding-bottom: 50px;
  }
}


