#home-page-card {
  margin-top: 10px;
}

mat-expansion-panel.roomSelector, mat-card.roomHeading{
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12) !important;
}

.home {
  scroll-behavior: smooth;
}

.mat-expansion-panel-header-description {
  margin-right: 0;
}

.visualBox {
  position: absolute;
  height: 40px;
  width: 100%;
  left: 0;
}

mat-dialog-container {
  width: auto;
}

div.machineButtonDialog {
  padding-bottom: 20px;
  padding-top: -10px;
}

.dryerButton {
  margin-left: 15px;
}

.exitWithoutAddingButton {
  margin-left: 10px;
}
.progress{
transform: rotate(-90deg);
  transform-origin: 0% 100%;
  height: 7px;
  width: 136px;
  position: relative;
  right: 8px;
  top: 3px;
  border-radius: 4px;
  }

@media screen and (max-width: 320px) {

  .notifBell, .favButton {
    margin-left: 11px;
  }

  mat-grid-tile mat-card {
    margin: 0;
  }
}


